/* Start Latest Posts */
.section-upcoming-classes .card,
.media-center .card,
.section-certifications .card,
.media .card,
.training-categories-section .card,
.certifications .card,
.training-categories .card {
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    .card-img-top {
    }
    .card-title {
        font-size: 20px;
        line-height: 1.5;
        color: #08526d;

        a {
            text-decoration: none;
            transition: all .2s ease-in-out;

            &:hover {
                color: $color-primary-2-dark;
            }
        }
    }

    .card-body {
        text-transform: capitalize;
    }

    .card-link {
        color: #fff;
        font-weight: bold;
        background-color: #0c2461;
        padding: 0px 20px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 40px;
        margin-top: 12px;
        display: inline-block;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: .9;
        }
    }

    .text-muted {
        font-size: 1.3rem;
        color: $color-grey-dark-2 !important;
    }

    .fas {
        margin-right: 5px;
        margin-top: 6px;
    }

    .course-date {
        width: 5rem;
        height: 8rem;
        background-color: rgba(0, 147, 178, 1);
        color: $color-white;
        padding: .5rem;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: 2px;

        &__day {
            display: block;
            border-bottom: 1px solid #ffffff8c;
            font-size: 1.9rem;
        }

        &__month {
            padding: 1rem .5rem;
            display: block
        }
    }

    .image-container {
        position: relative;

        .hover-content {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgba(236, 100, 15, .9);
            transform: translateX(-100%);
            transition: all .3s ease-in-out;

            a {
                display: block;
                position: absolute;
                top: 40%;
                left: 12%;
                transform: translate(-12%, -40%);
            }

            img {
                width: 35px;
            }
        }

        &:hover>.hover-content {
            transform: translateX(0);
        }

    }

    &:hover {
        background-color: #fdfdfd;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    }

}

@media(max-width:767px) {

    .section-upcoming-classes .card,
    .media-center .card,
    .section-certifications .card,
    .media .card,
    .training-categories-section .card,
    .certifications .card,
    .training-categories .card {
        text-align: center;

        .card-title {
            font-size: 17px;
        }
    
    }

    .section-upcoming-classes .card .course-date {
        width: 6rem;
        height: 9rem;

        &__day {
            font-size: 2rem;
        }
    }



}