.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }
    .button-primary--center {
        padding: .9rem 1.7rem;
        font-size: 15px; 
    }
    &__icon {
        font-size: 7rem;
        margin-bottom: 2.5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-2-light, $color-primary-2-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
@media(max-width:767px) {
    .feature-box{
        margin-bottom: 3rem;
        .heading-tertiary {
            margin-top: 1.5rem
        }

    }
}