$site-language: English;
$color-primary-1-dark: #1C386A;
$color-primary-1-light: #437296;
$color-primary-2-dark: #EC640F;
$color-primary-2-light: #EF8718;

$color-secondary:#FAFBFC;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #7d7d7d ;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000; 
$color-black-2: #0a0a0a; 