/* Start Upper Bar */
.upper-bar {
    background-color: $color-primary-2-dark;
    color: #FFF;
    padding: .5rem;
    position: relative;
    z-index: 999999;

    .bar-social {
        text-align: left;
    }

    .info {
        text-align: right;

        .language {
            color: $color-white;
            text-decoration: none;
            font-weight: bold;
            font-family: 'Cairo', sans-serif;
            font-size: 1.3rem;

            .flag {
                display: inline-block;
                background-image: url(../img/ar-flag.jpg);
                background-size: contain;
                height: 10px;
                width: 15px;
                transform: translate(-2px, 2px);
            }
        }
    }
}

@if $site-language==Arabic {
    .upper-bar {
        .bar-social {
            text-align: right;
        }

        .info {
            text-align: left;

            .flag {
                display: inline-block;
                background-image: url(../img/eng-flag.png) !important;
                height: 16px !important;
                width: 17px !important;
                transform: translate(-1px, 4px) !important;
                background-repeat: no-repeat;
            }
        }
    }
}

@media(max-width:767px) {
    .upper-bar {
    }
}

/* End Upper Bar */

// start news bar section
.news-bar-section {
    max-width: 100%;
    background-color: $color-primary-2-dark;
    color: $color-white;
    padding: 2rem;
    overflow: hidden;
}

// section search
.section-searsh {
    background-color: $color-white;
    padding: 4rem 0;
    width: 100%;
}

// about section
.section-about {
    padding: 10rem 0;
    background-color: #FAFBFC;

    .about-video iframe {
        border-radius: 4px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    }
}

// sevices
.section-services {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom,
            rgba(#0c2461, 0.6),
            rgba(#0c2461, 0.6)),
        url(../img/services.jpg);
    background-size: cover;

    .heading-primary {
        color: $color-primary-2-dark;
    }

    .heading--center::before {
        background-color: $color-primary-2-dark;
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

// upcoming classes section
.section-upcoming-classes {
    padding: 10rem 0;
    background-color: $color-white;
}

// training categories section
.training-categories-section {
    padding: 10rem 0;
    background-color: $color-secondary;
}

// start media section
.media-center {
    padding: 10rem 0;

    .content-list {
        >div:not(:first-child) {
            display: none;
        }
    }

}

// start certification 
.section-certifications {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom,
            rgba(#0c2461, 0.8),
            rgba(#0c2461, 0.8)),
        url(../img/testimonial.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .heading-primary {
        color: $color-primary-2-dark;
    }

    .heading--center::before {
        background-color: $color-primary-2-dark;
    }

    img {
        margin-bottom: 3rem;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.01);
            opacity: .9;
        }
    }
}

// start accreditations
.section-our-client {
    padding: 10rem 0;
    background-color: $color-white;

    a {
        img {
            width: 75% !important;
            border: 1px solid #ddd;
            border-radius: 3px;
            max-height: 18.2rem;
        }
    }

    .row {
        direction: ltr;
    }
}

@media(max-width:767px) {
    .section-our-client {
        a {
            img {
                width: 100% !important;
            }
        }
    }
}

// our client
.section-our-client {
    background-color: $color-secondary
}

// start contact
.section-contact {
    padding: 10rem 0;
    background-color: $color-primary-2-dark;

    .contact-box {
        width: 75%;
        margin: 0 auto;
        background-color: $color-white;
        border-radius: .5rem;
        padding: 4px 3px 2px;

        &>input {
            width: 40.5%;
            height: 50px;
            font-size: 24px;
            text-indent: 11px;
            border-radius: 3px;
            border: 0;
            font-weight: 300;
            color: #38464d !important;
            background-color: #F9FAFA;
            font-family: inherit;

            &:active,
            &:focus {
                outline-color: $color-primary-2-dark;
            }
        }
    }

    .button-primary {
        height: 100%;
        height: 50px;
        transform: translateY(-4px);
        background-color: $color-primary-1-dark;
    }

    p {
        color: $color-white;
        font-weight: 300;
        font-size: 20px;
        padding: 5px;
        margin-bottom: 1.5rem;
    }
}

@if $site-language==Arabic {
    .section-contact .contact-box>input {
        direction: rtl;
    }

}

@media(max-width: 767px) {
    .section-contact {
        .contact-box {
            width: 90%;

            &>input {
                font-size: 18px;
                display: block !important;
                width: 90% !important;
                margin-top: 1rem;
                margin: 1rem auto 0;

                &:first-child {
                    margin-top: 2rem
                }
            }
        }
    }

    .button-primary {
        margin-top: 2rem;
        margin-left: 2.5rem;
        margin-bottom: 1.5rem;
    }
}