.u-margin-b-big {
    margin-bottom: 8rem
}
.u-margin-b-medium {
    margin-bottom: 4rem
}
.u-margin-b-small {
    margin-bottom: 2rem
}
.u-margin-t-big {
    margin-top: 7rem
}
.u-margin-t-medium {
    margin-top: 4rem
}
.u-center-text {
    text-align: center;
}