.form {
    &__textarea {
        width: 100%;
        height: 16rem;
        border: 1px solid #ccc;
        padding: 8px;
        font-size: inherit;
        color: #6f6f6f;
        border-radius: 2px;
        transition: all .2s;
        background-color: $color-white !important;
    }
    &__select ,
    &__input {
        width: 100%;
        height: 4rem;
        border: 1px solid #ccc;
        text-indent: 8px;
        font-size: inherit;
        color: #6f6f6f;
        border-radius: 2px;
        transition: all .2s;
        background-color: $color-white !important;
        &--media {

        } 
        &:active,
        &:focus {
            border-color: $color-primary-2-light;
            outline: none;
            box-shadow: 0 1rem 2rem rgba(134, 133, 133, 0.1);
        }
    }
}
@if $site-language==Arabic {
    .form {
        &__select ,
        &__textarea,
        &__input {
            direction: rtl
        }
    }
}
@media(max-width:767px) {
    .form {
        &__select ,
        &__input {
            &--media {
                margin-bottom: 1rem              
            }
        }
    }
} 