.icon-box {
    display: flex;
    align-items: center;

    &__text {
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem;
        margin-right: 1rem;
        }
        a {
            color: $color-white;
            text-decoration: none;
        }
    [class^='fa'] {
        padding:0 7px 0;
        color: $color-white;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-primary-1-dark;
        }
    }
} 

@media (max-width:767px) {
    .icon-box {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__text {
            display: none;
        }
    }
}